@import url("https://fonts.google.com/specimen/Poppins?query=poppins");

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

nav {
  height: 70px;
  padding: 20px 36px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: flex-start;
}

.cards {
  display: flex;
  gap: 18px;
}

.bold {
  font-weight: bold;
}

.gray {
  color: #918E9B;
}

.hero {
  padding: 1.5rem 5rem;
  display: flex;
  flex-direction: column;
}

.hero--photo {
  width: 50%;
  align-self: center;
}

.hero--header {
  font-size: 35px;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.hero--text {
  font-size: 20px;
}

.cards-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 2rem;
  overflow-x: auto;
  justify-content: center;
}

.card {
  margin-top: 5rem;
  margin-bottom: 5rem;
  /* width: 200px; */
  font-size: 12px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}
.card--badge {
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
}

.card--image {
  /* width: 100%; */
  width: 21rem;
  height: 28rem;
  border-radius: 10px;
}

.card--stats {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.card > .card--stats > div > span {
  font-size: 16px;
}

.card--stats > div {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 5px;
}

.card--star {
  height: 1.5rem;
}

.card--title {
  font-size: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.card--price {
  margin-top: 0.5rem;
  font-size: 18px;
}